{% extends 'layout.html.twig' %}

{% block content %}

{% block header %}
{% endblock %}

{% block card %}

<div class = "card">
<h2 class = "cardTitle">question ?</h2>
</div>

{% endblock %}



{% endblock %}