{% extends 'layout.html.twig' %}

{% block content %}

{% block card %}
<div class="caroussel">
        <div class = "card">
            <h2 class = "cardTitle">Quelle fête ?</h2>

            <div class="grid_icons">
                <div class="grid_item"><a href="#" class="link"><img src="/assets/images/citrouille.png">Halloween</a></div>
                <div class="grid_item"><a href="#" class="link"><img src="/assets/images/sapin.png">Noël</a></div>
                <div class="grid_item"><a href="#" class="link"><img src="/assets/images/confetti.png">Nouvel An</a></div>
                <div class="grid_item"><a href="#" class="link"><img src="/assets/images/hanoucca.png">Hanoucca</a></div>
            </div>
        </div>

        <div class = "card">
            <h2 class = "cardTitle">Sans qui ?</h2>

            <div class="grid_icons">
                <div class="grid_item"><a href="#" class="link"><img src="/assets/images/famille.png">Famille</a></div>
                <div class="grid_item"><a href="#" class="link"><img src="/assets/images/conjoint.png">Conjoint</a></div>
                <div class="grid_item"><a href="#" class="link"><img src="/assets/images/amis.png">Amis</a></div>
                <div class="grid_item"><a href="#" class="link"><img src="/assets/images/collegue.png">Collègues</a></div>
            </div>
        </div>

        <div class = "card">
            <h2 class = "cardTitle">Quelle excuse ?</h2>

            <div class="grid_icons">
                <div class="grid_item"><a href="#" class="link"><img src="/assets/images/travail.png">Travail</a></div>
                <div class="grid_item"><a href="#" class="link"><img src="/assets/images/absurde.png">Absurde</a></div>
                <div class="grid_item"><a href="#" class="link"><img src="/assets/images/sante.png">Santé</a></div>
                <div class="grid_item"><a href="#" class="link"><img src="/assets/images/politique.png">Politique</a></div>
            </div>
        </div>

        <div class = "card">
            <h2 class = "cardTitle">Sur quel ton ?</h2>

            <div class="grid_icons">
                <div class="grid_item"><a href="#" class="link"><img src="/assets/images/corpo.png">Corpo</a></div>
                <div class="grid_item"><a href="#" class="link"><img src="/assets/images/delicat.png">Délicat</a></div>
                <div class="grid_item"><a href="#" class="link"><img src="/assets/images/neutre.png">Neutre</a></div>
                <div class="grid_item"><a href="#" class="link"><img src="/assets/images/mechant.png">Méchant</a></div>
            </div>
        </div>
</div>

<div class="slider">
    <div class="slider_button"></div>
    <div class="slider_button"></div>
    <div class="slider_button"></div>
    <div class="slider_button"></div>
</div>

{% endblock %}

{% endblock %}