{% extends 'layout.html.twig' %}

{% block content %}

<img id = "homeImg" src = "/assets/images/Group 30.svg">


<h2 id = "homeSlogan3">    La fin d’année arrive avec son habituel lot de fêtes reloues.... </h2>
<h2 id = "homeSlogan4">                                     , l’allié ultime pour éviter les soirées  !</h2>
<h2 id = "homeSlogan5"> Choisissez la fête, le type d’excuse... </h2>
<h2 id = "homeSlogan6"> Et dormez en simulant une maladie ou autre  !</h2>


<a class = "homeButtons" href = "/event">Je m'échappe !</a>


{% endblock %}