{% extends 'layout.html.twig' %}

{% block content %}


<h1 id = "homeSlogan1">     Pourquoi sortir... </h1>
<img id = "homeImg" src = "/assets/images/Group 30.svg">

<h2 id = "homeSlogan2">...quand on peut mentir ?</h2>

<a class = "homeButtons" href = "/explication">C'est à dire ?</a>
<a class = "homeButtons" href = "/event">Je m'échappe !</a>


{% endblock %}