{% extends 'layout.html.twig' %}

{% block content %}

{% block header %}

<div id = "header">
    <img id ="titleIcon" src = "/assets/images/ESCAPOTRON ICON.png">
    <h1 id = "title">Escapotron</h1>
</div>

{% endblock %}

<h1 id = "homeSlogan"> Pourquoi sortir quand on peut mentir ?</h1>



{% endblock %}