{% extends 'layout.html.twig' %}

{% block content %}

    <h1 id="homeSlogan1">Pourquoi sortir...</h1>
    <img id="homeImg" src="/assets/images/Group 30.svg">
    <h1 id="homeSlogan2">...quand on peut mentir ?</h1>

    <a class="cta-btn cad" href="/infos">C'est à dire ?</a>
    <a class="cta-btn esc" href="/app">Je m'échappe !</a>

{% endblock %}