{% extends 'layout.html.twig' %}

{% block content %}

<img id="infoImg" src="/assets/images/fete-interdite.svg">

<h2 id="homeSlogan3"> La fin d’année arrive avec son habituel lot de fêtes reloues.... </h2>
<h2 id="homeSlogan4"> Escapodron, l’allié ultime pour éviter les soirées  !</h2>
<h2 id="homeSlogan5"> Choisissez la fête, le type d’excuse... </h2>
<h2 id="homeSlogan6"> Et dormez en simulant une maladie ou autre  !</h2>

<a class="infoButton" href="/app">Je m'échappe !</a>

{% endblock %}