{% extends 'layout.html.twig' %}

{% block content %}

<img id="infoImg" src="/assets/images/fete-interdite.svg">

<h2 class="info" id="info-1">La fin d’année arrive avec son habituel lot de fêtes reloues...</h2>
<h2 class="info" id="info-2">Escapodron, l’allié ultime pour éviter les soirées !</h2>
<h2 class="info" id="info-3">Choisissez la fête, les convives, le type d’excuse, ...</h2>
<h2 class="info" id="info-4">Et dormez sur vos deux oreilles avec l'excuse parfaite !</h2>

<a class="cta-btn esc" href="/app">Je m'échappe !</a>

{% endblock %}