{% extends 'layout.html.twig' %}

{% block content %}

<p> </p>
<img id = "resultImg" src = "/assets/images/Group 35.png">

<a id = "claque" href = "/event">Pas ouf... une autre !</a>
<a id = "recommencer" href = "/event">Recommencer</a>

{% endblock %}