{% extends 'layout.html.twig' %}

{% block content %}


<p id="excuseParfaite">
    {{ excuseParfaite }}
</p>

<img id="copy-text" src="/assets/images/copy.svg" alt="Copy text">

{# <img id = "resultImg" src = "/assets/images/Group 35.png"> #}

<a class="cta-btn cad" href="">Pas ouf... une autre !</a>
<a class="cta-btn esc" href="app">Recommencer</a>

{% endblock %}