{% extends 'layout.html.twig' %}

{% block content %}

<p>
    {{ excuseParfaite }}
</p>

<img id = "resultImg" src = "/assets/images/Group 35.png">

<a id = "claque" href="">Pas ouf... une autre !</a>
<a id = "recommencer" href="app">Recommencer</a>

{% endblock %}