{% extends 'layout.html.twig' %}

{% block content %}


<p>
    {{ excuseParfaite }}
</p>

<a id = "claque" href = "/event">Pas ouf... une autre !</a>
<a id = "recommencer" href = "/event">Recommencer</a>

{% endblock %}